body {
  background-color: #b8a6973c;
  text-align: center;
}

header {
  font-family: monospace;
}

a {
  font-size: larger;
}

ul, ol {
  color: rgba(0, 0, 0, 0.5);
  list-style: inside;
}

.links-section {
  padding: 5px;
}

#TMBTE {
  width: 60%;
  border-radius: 40px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 10px;
  column-gap: 10px;
  background-color: rgba(227,223,212,255);
  border: 5px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  margin: 0 20px;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  background-color: #b8a6978d;
  border-radius: 10px;
  list-style: none;
}

.grid-item:hover{
  background-color: #b8a697;
  cursor: pointer;
}